@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(240, 250, 260);
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: blue;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: blue !important;
}

/* TODO: Check the colors */